.canvas {
  background: #d6d3e5;
}

.misc {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d6d3e5;
}

.angle {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6d3e5;
}